@model WebApplication1.ViewModels.CatalogViewModel

@{
    ViewData["Title"] = "Catalog";
}

<h2>Catalog Of Shapes</h2>

<br />

@foreach (var shape in Model.TheList)
{

    <p>@shape.Name : @shape.Sidelength</p>

}

<br>

<p>The total number of shapes is: @Model.TheList.Count</p>



