@model WebApplication1.ViewModels.RandomViewModel

@{
    ViewData["Title"] = "Random";
}

<h2>Random Shape</h2>

<br />

<h4>A Random Shape From The Catalog Is:</h4>
<br />
@Model.Ranshape.Name : @Model.Ranshape.Sidelength

